.VPHero .container {
  text-align: center;
}

.VPHero .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.VPHero .actions {
  justify-content: center;
}

.dark .VPHero .VPButton.brand {
  color: var(--vp-c-bg);
}
